/// A class that holds screen routes constants.
/// This class should not be instantiated.
class AppRoutes {
  AppRoutes._();

  static const String splash = '/';
  //<-- DONT_REMOVE_THIS_LINE_ROUTES -->
}