{
  "feature_name": "{{screenNamePascalCase}}",
  "endpoint": "/{{screenNameSnakeCase}}",
  "request_type": "get",
  "pagination": false,
  "response_model": {
    "name": "{{screenNamePascalCase}}Model",
    "fields": [
      {
        "name": "id",
        "type": "int"
      },
      {
        "name": "name",
        "type": "String"
      }
    ]
  }
}