{
  "feature_name": "RegisterRequests",
  "apis": [
    {
      "name": "getRequests",
      "endpoint": "requests",
      "request_type": "GET",
      "pagination": true,
      "query_parameters": [
        { "type": "int", "name": "page" }
      ],
      "list_response_model": [
        { "name": "RegisterRequestModel", "fields": [
          { "name": "id", "type": "int" },
          { "name": "student", "type": "String" },
          { "name": "course", "type": "String" },
          { "name": "createdAt", "type": "String" , "json_key":"created_at" }
          
          ] }
      ]
    },
    {
      "name": "acceptRequest",
      "endpoint": "request/accept",
      "request_type": "POST",
      "body": {
        "id": "int"
      },
      "response_model": {
        "name": "AcceptRequestModel",
        "fields": [{ "name": "message", "type": "String" }]
      }
    }
  ]
}