part of '{{cubit_file_name}}.dart';

@freezed
abstract class {{state_class_name}} with _${{state_class_name}} {
  const factory {{state_class_name}}({
    @Default(SubmissionStatus.initial) SubmissionStatus status,
    {{success_data_model}}? data,
    Failure? failure,
  }) = _CreateTeacherState; 
}