import 'package:flutter/material.dart';

class {{screenNamePascalCase}}Screen extends StatelessWidget {
  const {{screenNamePascalCase}}Screen({super.key});

  @override
  Widget build(BuildContext context) {
    return Scaffold(
      appBar: AppBar(
        title: const Text('{{screenNameTitleCase}}'),
      ),
      body: const Center(
        child: Text('{{screenNameTitleCase}} Screen'),
      ),
    );
  }
}